// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
//$brand-primary: #3097D1;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;
$brand-primary: #000000;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@font-face {
  font-family: "Brandon Text";
  src: url(/fonts/brandontext_regular-webfont.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Brandon Text";
  src: url(/fonts/brandontext_regularitalic-webfont.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Brandon Text";
  src: url(/fonts/brandontext_bold-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Text";
  src: url(/fonts/brandontext_bolditalic-webfont.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

$font-family-sans-serif: 'Brandon Text', sans-serif;
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #000000;

// Navbar
$navbar-default-bg: #000000;

// Buttons
$btn-default-color: black;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$border-radius-base: 0px !default;
$border-radius-large: 0px !default;
$border-radius-small: 0px !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight: normal !default;

$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;

$btn-primary-color: #fff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color: #fff !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-info-color: #fff !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$btn-warning-color: #fff !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color: #fff !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;
