$collection_section_check_width: 30px;

.collection_section {
  h2 {
    margin-left: 5px;
  }
  .collection_item_wrapper {
    padding: 5px;
    .collection_item {
      background-color: black;
      height: 150px;
      padding-left: 5px;
      border: 1px gray dashed;
      border-radius: 5px;
      
      a {
        position: relative;
        color: white;
        font-size: 2em;
  
        span.check {
          display: inline-block;
          line-height: $collection_section_check_width;
          width: $collection_section_check_width;
          height: $collection_section_check_width;
          background-color: white;
          border-radius: $collection_section_check_width/2;
        }
      }
    }
  }
}