$lessons_section_check_width: 30px;
$title_text_size: 1.2em;

.lessons_section {
  h2 {
    margin-left: 5px;
  }
  .lesson_wrapper {
    padding: 5px;
    .lesson_item {
      background-color: grey;
      height: 150px;
      padding-left: 5px;
      border: 1px gray dashed;
      border-radius: 5px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      
      a {
        position: relative;
        color: white;
        font-size: 2em;
      }
      
      span.check {
        display: inline-block;
        line-height: $lessons_section_check_width;
        width: $lessons_section_check_width;
        height: $lessons_section_check_width;
        background-color: white;
        border-radius: $lessons_section_check_width/2;
        margin-top: 5px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 3px;
      }
    }
    span.title {
      display: block;
      line-height: $title_text_size;
      height: $title_text_size * 2;
      overflow-y: hidden;
      font-size: $title_text_size;
    }
  }
}